*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;   
    }
    
   
    
    header{
    
        text-transform: uppercase;
           margin-top: 50px;
           margin-bottom: 50px;
           
           font-size: 240%;
           word-spacing: 4px;
           letter-spacing: 1px;
           font-weight: 600;
       }
    
       h2{
       font-weight: 200;    
       font-family: italic;
       margin-left: 5px;
       padding-top: 150px;
       padding-left: 50px;
      color:rgb(154, 48, 253) ; 
       text-transform: uppercase;
       }
    
    
       
        body{
            
            background-image: url(/img/donate5.jpg);
            height: 100vh;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            opacity:0.5;
           
        }
    
    .menu{
        overflow: hidden;
        background:rgba(51, 51, 51, 0.493);
    }
    .container{
     
      margin-top: 30px;
      padding: -5px;

    }

    .logo {
        font-size: 1.2rem;
        margin: 0.5rem;
        line-height: 10px;
        align-items: center;
        display: flex;
        font-weight: 600;
        margin-left: 5px;
      }
      
      .logo img {
        width: 30px;
        filter: invert(100%);
        margin-left: -40px;
        margin-right: 8px;
      }
    
        .nav{
    
    float: right;
    margin-top: -60px;
    margin-bottom: 10px;
    padding-bottom: 10px;
        }
        
             
    



        .btn{
            margin-left: 29px;
        }



        .btn1 {
            background-color: #1f2f5c;
            border: none;
            color: white;
            padding: 10px 30px;
            text-align: center;
            border-radius: 10px;
            margin-left: 20px;
            font-size: 16px;
          }
          .btn1:hover {
            background-color: #1dee24;
          }

          footer {
        margin-top: 62px;
        padding: 10px 20px;
        background: rgba(36, 36, 36, 0.904);
        color: white;
        font-weight: bold;
      }
      
      .copyright-1{
          margin-left: 150px;
      }